<div
  style="
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  "
>
  <h2 style="width: 100vw; text-align: center">
    if you see this page via wordpress, you might be in wrong route
  </h2>

  <h3 style="width: 100vw; text-align: center">Quick Links</h3>
  <div style="width: 100vw; justify-content: center; align-items: center; text-align: center;">
    <button class="manual-redirect" ng-click="routeTo('bike')">Bike</button>
    <button class="manual-redirect" ng-click="routeTo('car')">Car</button>
    <button class="manual-redirect" ng-click="routeTo('health')">Health</button>
    <button class="manual-redirect" ng-click="routeTo('life')">Life</button>
  </div>

  <!-- <img style="margin-top: 3rem"
    src="https://media.tenor.com/ShOIQ3BgrKUAAAAC/phir-hera-pheri-lagta-hai-kisi-dusre-ki-kholi-me-aa-gaya.gif"
  /> -->
</div>

<style>
    button {
        cursor: pointer;
        background-color: #06f;
        color: white;
        /* border: none; */
        font-size: 3rem;
        border-radius: 4px;
    }
</style>
